<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PineBerry01</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--- 카테고리 --->
    <div class="category">
        <img src="https://i.ibb.co/1skjJKz/Pine-Berry-2x.png" alt="Pine-Berry-2x" class="logo" style="float:left;" border="0">
        <div class="categorylist" style="float:left; margin:14px 0px 0px 158px;">Notice</div>
        <div class="categorylist" style="float:left; margin:14px 0px 0px 30px;">Berries</div>
        <div class="categorylist" style="float:left; margin:14px 0px 0px 30px">Calander</div>
        <div class="categorylist" style="float:left; margin:14px 0px 0px 30px">Q&A</div>
        <div class="categorylist" style="float:left; margin:14px 0px 0px 30px">More</div>
    </div>
    @*TODO: 여기에 Identity사용해서 뭐 하기*@
    @if (true)
    {
        <!--- 관리자 카테고리--->
        <div class="category2" style="position: relative; z-index: 2;">
            <div class="categorylist2" style="float:left; margin:10px 0px 8px 55px;">공지추가</div>
            <div class="categorylist2" style="float:left; margin:10px 0px 8px 65px;">일정추가</div>
            <div class="categorylist2" style="float:left; margin:10px 0px 8px 65px;">Berry추가</div>
            <div class="categorylist2" style="float:left; margin:10px 0px 8px 65px;">Berry제안관리</div>
            <div class="categorylist2" style="float:left; margin:10px 0px 8px 65px;">Ban</div>
            <div class="categorylist2" style="float:left; margin:10px 0px 8px 65px;">계정관리</div>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PineBerry01 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
