/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
}

.category {
    height: 50px;
    width: 768px;
    border: 0px solid;
    background: linear-gradient( to right, #FFFFFF, #FDEAEA)
}

.logo {
    height: 44px;
    width: 44px;
    margin: 2px 0px 3px 12px;
}

.categorylist {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 1000;
    font-size: 15px;
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-style: normal;
}

.notice {
    font-family: 'TmonMonsori';
    src:;
    font-size: 25px;
    color: #FF637B
}

.re {
    width: 33px;
    height: 19px;
    border: 1px solid #707070;
    border-radius: 8px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
    text-align: center;
    line-height: 19px;
}

.line {
    width: 690px;
    height: 0px;
    border: 3px solid #FFA6B4;
}

.title {
    font-family: 'TmonMonsori';
    src:;
    font-size: 20px;
}

.text {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    font-size: 15px;
}

.back {
    width: 49px;
    height: 28px;
    background: #FFA6B4;
    border-radius: 8px;
}

.backimage {
    border: 0px solid;
}

.submit {
    width: 49px;
    height: 28px;
    background: #80535A;
    border-radius: 8px;
    line-height: 28px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

.copy {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
}