<head>
    <link rel="stylesheet" href="~/css/Notice/NoticeDetail.css" />
</head>
<!--- Q&A --->
<div class="notice" style="margin:76px 0px 0px 65px;">NOTICE</div>

<div class="line" style=" margin:14px 0px 0px 45px;"></div>
<div class="title" style=" margin:15px 0px 0px 62px;">PINEBERRY</div>
<div class="line" style=" margin:10px 0px 0px 45px;"></div>
<div class="text" style=" margin:18px 0px 0px 60px;">고오오ㅗ오오오오오오ㅗㅗ오오오ㅗㅇ옹지이ㅣ이ㅣ이이ㅣ이이잉ㅇ이ㅣㅇ</div>
<div class="line" style=" margin:297px 0px 0px 45px;"></div>

<img src="https://i.ibb.co/n77wnyj/returm.png" class="backimage" alt="returm"
     style="position: relative; z-index: 2; margin:30px 0px 0px 685px;" border="0">
<div class="back" style="margin:-28px 0px 0px 670px; position: relative;"></div>


<div class="copy" style="margin:286px 0px 27px 246px;">2019 Copyright ⓒ Team VaryBerry All Right Reserved.</div>