
@{
    ViewData["Title"] = "AddBan";
}

<head>
    <link rel="stylesheet" href="~/css/User/AddBan.css"/>
</head>

<body>
        <div class="Ban">Ban</div>
    <div class="line"></div>

    <div class="sum" style="position: relative; z-index: 2;"> </div>
    <div class="write" style="float:left;margin:29px 0px 0px 64px;"></div>
    </div>

    <div class="pinkbox" style="position: relative; z-index: 1; margin:0px 0px 0px 32px;"></div>
    <div class="submit" style="margin:-60px 0px 0px 656px;">저장</div>

    <div class="copyright" style="margin:265px 0px 27px 246px;">2019 Copyright ⓒ Team VaryBerry All Right Reserved.</div>
</body>