
@{
    ViewData["Title"] = "AddUser";
}
<head>
    <link rel="stylesheet" href="~/css/User/AddUser.css" />
</head>


<body>

    <div class="sum">
        <div class="write" style="float:left;margin:50px 0px 0px 52px;"></div>
        <div class="style" style="float :left; margin:75px 0px 0px -620px">관리자 추가</div>
        <div class="ID" style="margin:110px 0px 0px 91px">
            <div class="ID_word" style="float:left; margin:3px 0px 0px 10px;">ID</div>
        </div>
        <div class="ID" style="margin:145px 0px 0px 91px;">
            <div class="Pass_word" style="float:left; margin:6.5px 0px 0px 10px;">PASSWORD</div>
        </div>
        <div class="ADD" style="background-color:#FFA6B4;float:left; margin:115px 0px 0px -430px">
            <div class="ADD1" style="float:left; margin:15px 0px 0px 10px;">ADD</div>
        </div>

        <div class="linee" style="float:left;margin:68px 0px 0px -330px;"></div>

        <div class="style" style="float : left; margin:75px 0px 0px -285px">비밀번호 변경</div>
        <div class="ID" style="margin:110px 0px 0px 425px">
            <div class="ID_word" style="float:left; margin:3px 0px 0px 10px;">기존 비밀번호</div>
        </div>
        <div class="ID" style="margin:145px 0px 0px 425px;">
            <div class="Pass_word" style="float:right; margin:6.5px 0px 0px 10px;">새 비밀번호</div>
        </div>
        <div class="ADD" style="background-color:#80535A; float:left; margin:115px 0px 0px -93px">
            <div class="ADD1" style="float:left; margin:15px 0px 0px 10px;">ADD</div>
        </div>
    </div>

    <div class="manage" style="margin:17px 0px 0px 80px">관리자 계정관리</div>
    <div class="linep" style="margin:15px 0px 0px 50px;"></div>


    <div class="ADD_1" style="float:left; margin:20px 0px 0px 80px">
        <div class="ADD_2" style="float:left; margin:5px 0px 0px 10px;">1</div>
    </div>

    <div class="ID_1" style="float:left; margin:20px 0px 0px 10px">
        <div class="ID_2" style="float:left; margin:7px 0px 0px 10px;">아이디를 적어주세요</div>
    </div>

    <div class="name" style="float:left; margin:20px 0px 0px 10px">
        <div class="name_1" style="float:left; margin:7px 0px 0px 10px;">김이름</div>
    </div>

    <div class="PW" style="float:left; margin:20px 0px 0px 10px">
        <div class="PW_1" style="float:left; margin:7px 0px 0px 10px;">비밀번호 초기화</div>
    </div>

    <div class="delete" style="float:left; margin:20px 0px 0px 10px">
        <div class="delete_1" style="float:left; margin:7px 0px 0px 17px;">삭제</div>
    </div>


    <div class="copyright" style="margin: 710px 0px 27px 254px;">2019 Copyright ⓒ Team VaryBerry All Right Reserved.</div>
</body>