
@{
    ViewData["Title"] = "Login";
}

<html>
<head>
    <meta charset="utf-8">
    <title>Manager</title>
    <link rel="stylesheet" type="text/css" href="~/css/User/Login.css">
</head>
<body>
    <div class="main_title"></div>
    <div class="main_centerup_btn"></div>
    <div class="main_center_btn">
        <div class="rounded_1">
            <div class="rounded_2">
                <div class="rounded_3">
                    <div class="ID">
                        <h7 style="color:rgba(75,75,75,0.32); text-align: left;">ID</h7>
                    </div>
                    <div class="Password">
                        <h7 style="color:rgba(75,75,75,0.32); text-align: left;">Password</h7>
                    </div>
                    <div class="Rogin">
                        <h4 style="color: white; text-align: center;">Rogin</h4>
                    </div>
                    <h1 style="color:#FF637B; text-align: center;">Pineberry</h1>
                    <h6 style="color:#FFD3D3; text-align: center;">MANAGER PAGE</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="main_centerunder_btn"></div>
    <div class="main_title"></div>

</body>
</html>