<head>
    <link rel="stylesheet" href="~/css/MoreBerries/Inex.css" />
</head>
    <head>
        <link rel="stylesheet" href="~/css/MoreBerries/Inex.css" />
    </head>

<img src="https://i.ibb.co/YL43PgN/1-2x.png" alt="1-2x" border="0"
     style="width: 773px; height: 336px;position: relative; z-index: 1; margin:-5px 0px 0px -2px;">


<div class="aboutus" style="margin:76px 0px 0px 65px;">ABOUT US</div>
<div class="pinkline" style="margin:18px 0px 0px 39px;"></div>

<div class="sum">
    <img src="https://i.ibb.co/CnV0W4s/qpfl.png" alt="qpfl" class="image" style="float:left; margin:46px 0px 0px 92px;" border="0">
    <div class="text" style="float:left;margin:50px 0px 0px 26px;">
        안녕하세요. VaryBerry 입니다! ?? <br>
        저희 VaryBerry는 7기 신입생 여러분들의<br> 학교 적응과 궁금증 해결을 위해 만들어졌습니다.
    </div>
</div>

<div class="sum">
    <img src="https://i.ibb.co/Bgzs965/2x.png" class="image"
         style="float:left; margin:25px 0px 0px 92px;" alt="2x" border="0">
    <div class="text" style="float:left;margin:30px 0px 0px 26px;">앞으로 신입생 여러분의질문에 대한 답변과 학교 시설이나 <br>행사 소개를 통해 7기 여러분의 학교 생활에 도움이 되고자 합니다!<br> 저희 VaryBerry 많이 방문해주세요^^ </div>
</div>


<div class="beta" style="margin:143px 0px 0px 333px;">BETA</div>
<div class="sum">
    <div class="job" style="float:left; margin:34px 0px 0px 205px;">GUIDE DIRECTOR</div>
    <div class="name" style="float:left; margin:34px 0px 0px 132px;">3기 김영훈</div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">GUIDE CODIRECTOR</div>
    <div class="name" style="float:left; margin:15px 0px 0px 109px;">4기 임채림</div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">로고 아이디어 제공</div>
    <div class="name" style="float:left; margin:15px 0px 0px 122px;">3기 조현준</div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">페이지 제작 지원</div>
    <div class="name" style="float:left; margin:15px 0px 0px 138px;">김지민 선생님</div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">개발 조언</div>
    <div class="name" style="float:left; margin:15px 0px 0px 192px;">1기 조성욱</div>
</div>
<div clss="sum">
    <div class="name" style="margin:15px 0px 0px 466px;">2기 박민재</div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">웹페이지 이름 아이디어 제공</div>
    <div class="name" style="float:left; margin:15px 0px 0px 50px;">3기 박준서</div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">단체 작성 도움</div>
    <div class="name" style="float:left; margin:15px 0px 0px 150px;">4기 석기범</div>
</div>


<div class="beta" style="margin:56px 0px 0px 333px;">1 th Berries</div>
<div class="sum">
    <div class="job" style="float:left; margin:34px 0px 0px 205px;">DIRECTOR</div>
    <div class="name" style="float:left; margin:34px 0px 0px 132px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">DEVELOPER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 109px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">DESIGNER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 122px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:50px 0px 0px 205px;">PHOTOGRAPHER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 138px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">MANAGER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 192px;"></div>
</div>


<div class="beta" style="margin:56px 0px 0px 333px;">2nd Berries</div>
<div class="sum">
    <div class="job" style="float:left; margin:34px 0px 0px 205px;">DIRECTOR</div>
    <div class="name" style="float:left; margin:34px 0px 0px 132px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">DEVELOPER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 109px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">DESIGNER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 122px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:50px 0px 0px 205px;">PHOTOGRAPHER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 138px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">MANAGER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 192px;"></div>
</div>


<div class="beta" style="margin:56px 0px 0px 333px;">3nd Berries</div>
<div class="sum">
    <div class="job" style="float:left; margin:34px 0px 0px 205px;">DIRECTOR</div>
    <div class="name" style="float:left; margin:34px 0px 0px 132px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">DEVELOPER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 109px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">DESIGNER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 122px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:50px 0px 0px 205px;">PHOTOGRAPHER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 138px;"></div>
</div>
<div class="sum">
    <div class="job" style="float:left; margin:15px 0px 0px 205px;">MANAGER</div>
    <div class="name" style="float:left; margin:15px 0px 0px 192px;"></div>
</div>

<div class="copy" style="margin:289px 0px 23px 246px;">2019 Copyright ⓒ Team VaryBerry All Right Reserved.</div>

<div class="pinkbox" style="margin:-1829px 0px 0px 0px;"></div>
