<head>
    <link rel="stylesheet" href="~/css/QnA/QnAAdd.css" />
</head>

<!--- Q&A 등록 --->
<div class="QA">Q&A 등록</div>
<div class="line"></div>

<div class="sum" style="position: relative; z-index: 2;">
    <div class="sum1">
        <div class="bold" style="float:left; margin:129px 0px 0px 66px;">제목</div>
        <div class="write" style="float:left; margin:127px 0px 0px 20px;"></div>
    </div>
    <div class="sum2">
        <div class="bold" style="float:left;margin:27px 0px 0px 66px;">분류</div>
        <div class="bold1" style="float:left;margin:27px 0px 0px 20px;">학교생활</div>
        <div class="bold1" style="float:left;margin:27px 0px 0px 30px;">공부</div>
        <div class="bold1" style="float:left;margin:27px 0px 0px 30px;">기숙사</div>
        <div class="bold1" style="float:left;margin:27px 0px 0px 30px;">친구관계</div>
        <div class="bold1" style="float:left;margin:27px 0px 0px 30px;">기타</div>
    </div>
    <div class="sum3">
        <div class="bold" style="float:left;margin:26px 0px 0px 66px;">내용</div>
        <div class="write2" style="float:left;margin:26px 0px 0px 20px;"></div>
    </div>

    <div class="byte" style="margin:23px 0px 0px 117px;">0/10000byte</div>

    <img src="https://i.ibb.co/n77wnyj/returm.png" class="backimage" alt="returm"
         style="position: relative; z-index: 2; margin:0px 0px 0px 615px;" border="0">
    <div class="back" style="margin:-28px 0px 0px 601px; position: relative;"></div>
    <div class="submit" style="margin:-28px 0px 0px 658px;">등록</div>
</div>

<div class="pinkbox" style="position: relative; z-index: 1; margin:-420px 0px 0px 35px;"></div>
<div class="copyright" style="margin:265px 0px 27px 246px;">2019 Copyright ⓒ Team VaryBerry All Right Reserved.</div>