<head>
    <link rel="stylesheet" href="~/css/Home/Index.css" />
</head>
<!--- 메인페이지 --->
<div class="PINEBERRY">PINEBERRY</div>
<div class="line"></div>
<div class="intro">PINEBERRY는 7기들을 위한 충남삼성고<br> 안내 페이지입니다.<br> 5기때는 BLUEBERRY라는 <br>이름으로 운영이 되어었고,<br> 6기때는 CRANBERRY라는 이름으로 <br>운영이 되었습니다.<br><br> PINEBERRY를 통해서 더욱 알찬 <br>CNSA생활이 되기를 진심으로 바랍니다.</div>


<div class="sum" style="position: relative; z-index: 2;">
    <div class="Notice">NOTICE</div>
    <div class="line2"></div>
    <div class="notice" style="margin:39.35px 0px 0px 155px;">나눔고딕체 0000-00-00</div>
    <div class="notice" style="margin:7px 0px 0px 155px;">사진 속 폰트는 signatra demo체 0000-00-00</div>
    <div class="notice" style="margin:7px 0px 0px 155px;">PINEBERRY 0000-00-00</div>
    <div class="notice" style="margin:7px 0px 0px 155px;">PINEBERRY 0000-00-00</div>
    <div class="notice" style="margin:7px 0px 0px 155px;">더보기 +</div>
</div>
<div class="boxpi" style="position: relative; z-index: 1;margin:-323px 0px 0px 0px;"></div>


<div class="QA">NEW Q&A</div>
<div class="line3"></div>
<div class="arrow" style="float:left; margin:178px 0px 0px 17px;"><</div>
<div class="boxp" style="float:left;">
    <div class="Q" style="float:left;">Q.</div>
    <div class="Qt" style="float:left;">나눔고딕</div>
    <div class="linep" style="margin:57px 0px 0px 11px;"></div>
    <div class="date" style="margin:7px 0px 0px 16px;">작성일자: 0000-00-00</div>
    <div class="linep" style="margin:6px 0px 0px 11px;"></div>
    <div calss="maint" style="margin:7px 0px 0px 11px;">Q는 티몬체</div>
</div>

<div class="boxy" style="float:left;">
    <div class="Q" style="float:left;">Q.</div>
    <div class="Qt" style="float:left;">나눔고딕</div>
    <div class="liney" style="margin:57px 0px 0px 11px;"></div>
    <div class="date" style="margin:7px 0px 0px 16px;">작성일자: 0000-00-00</div>
    <div class="liney" style="margin:6px 0px 0px 11px;"></div>
    <div calss="maint" style="margin:7px 0px 0px 11px;">이거 먼가 에어팟 같다</div>
</div>

<div class="boxp" style="float:left;">
    <div class="Q" style="float:left;">Q.</div>
    <div class="Qt" style="float:left;">나눔고딕</div>
    <div class="linep" style="margin:57px 0px 0px 11px;"></div>
    <div class="date" style="margin:7px 0px 0px 16px;">작성일자: 0000-00-00</div>
    <div class="linep" style="margin:6px 0px 0px 11px;"></div>
    <div calss="maint" style="margin:7px 0px 0px 11px;">작성일자도 나눔고딕 레귤러 내용도 나눔고딕 레귤러</div>
</div>
<div class="arrow" style="float:left; margin:178px 0px 0px 25px;">></div>

<div class="c" style=" float:left;margin:338px 0px 0px -401px; background: #000000;"></div>
<div class="c" style=" float:left;margin:338px 0px 0px -380px;"></div>
<div class="c" style=" float:left;margin:338px 0px 0px -358px;"></div>


<div class="searchsum" style="position: relative; z-index: 2;">
    <div class="search" style="margin:543px 0px 0px 68.5px;">궁금했던 학교 용어나 행사가 있으면 검색해 보세요</div>
    <div class="icon1" style="float:left; margin:-28px 0px 0px 677px;"></div>
    <div class="icon2" style="float:left; margin:-16px 0px 0px 690px;">＼</div>
    <div class="line4"></div>
</div>
<div class="boxp2" style="position: relative; z-index: 1; margin:-75px 0px 0px 0px;"></div>


<div class="about" style="margin:176px 0px 0px 326px; position: relative; z-index: 2;">ABOUT US</div>
<img src="https://i.ibb.co/F5mNwd5/111111-2x.png" alt="111111-2x" class="plogo" style="position: relative; z-index:2; margin:100px 0px 0px 304px;">
<div class="last" style="position: relative; z-index: 1; margin:-330px 0px 0px 0px;"></div>

<div class="copy">2019 Copyright ⓒ Team VaryBerry All Right Reserved.</div>